.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 220px;
  gap: 6px;
}

/* Ocultar em telas pequenas */
@media (max-width: 767px) {
  .projects-grid {
    padding: 0px;
  }
}