.name {
  font-family: "Knewave", system-ui;
  font-size: 32px;
}

.navbar {
  background-color: black !important;
  padding: 0;
  border-bottom: 1px solid #575757;
}


.navbar-link {
  font-size: 20px;
  font-weight: 500;
  height: 64px;
  align-items: center;
}

.active-name {
  text-shadow: 0px 0px 9px #0ad1f9;
}

.navbar-link.active {
  height: 64px;
  align-items: center;
  border-bottom: 3px solid #0ad1f9;
}

/* Exibir como flex em telas médias ou maiores */
@media (min-width: 768px) {
  .navbar-link {
    display: flex;
  }
}

/* Ocultar em telas pequenas */
@media (max-width: 767px) {
  .navbar-link {
    display: none;
  }
  .name {
    font-family: "Knewave", system-ui;
    font-size: 24px;
    margin-left: 14px;
  }
}