@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

html, body, #root {
  height: 100%;
  background: #3c3c3c;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.name {
  font-family: "Knewave", system-ui;
  font-size: 32px;
}

.navbar-link {
  font-size: 20px;
  font-weight: 500;
}



