@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

html, body, #root {
  height: 100%;
  background: #171717;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-body {
  flex-grow: 1;
  overflow: auto;
}

.footer {
  background-color: #171717 !important;
  padding: 0;
  border-top: 1px solid #575757;
  height: 84px;
  display: flex;
  align-items: center;
}


